name: Lint

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  clippy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      checks: write

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.10.1
        with:
          components: clippy

      - name: Install just & cargo-hack
        uses: taiki-e/install-action@v2.47.2
        with:
          tool: just,cargo-hack

      - name: Clippy
        run: just clippy

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust (nightly)
        uses: actions-rust-lang/setup-rust-toolchain@v1.10.1
        with:
          toolchain: nightly
          components: rustfmt

      - run: cargo fmt -- --check

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.10.1
        with:
          components: rust-docs

      - name: Check for broken intra-doc links
        env:
          RUSTDOCFLAGS: -D warnings
        run: cargo doc --workspace --no-deps --all-features

  public-api-diff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.base_ref }}

      - uses: actions/checkout@v4

      - name: Install Rust (${{ vars.RUST_VERSION_API_DIFF }})
        uses: actions-rust-lang/setup-rust-toolchain@v1.10.1
        with:
          toolchain: ${{ vars.RUST_VERSION_API_DIFF }}

      - name: Install cargo-public-api
        uses: taiki-e/cache-cargo-install-action@v2.0.1
        with:
          tool: cargo-public-api

      - name: Generate API diff
        run: |
          cargo public-api --manifest-path ./confik/Cargo.toml diff ${{ github.event.pull_request.base.sha }}..${{ github.sha }}
